
body{
    background-color: #8BA1BB;
    font-family: arial;
}
p.categorie{
    background-color: black;
    color: white;
    display: inline-block;
    margin-top: 60px;
    padding: 8px 18px;
    margin-bottom:-10px ;
    font-size: 20px;
    font-weight: bold;
}
div.info{
   position: relative; 
   background-color: blue;
}
table.info{
    position: absolute; 
    bottom:0;
    width: 100%;
    color: white;
    background-color: #6c829dc0;
    height: 50px;
    text-align: center;
}

table.info td{
    text-align: center;
    font-size: 12px;
    vertical-align: top;
}

table.info th{
    font-size: 16px;
    vertical-align: bottom;
    padding-bottom: 14px;
}

div.categorie{
text-align: center;
margin-bottom: -10px;
                                                                   
}
.centre{
text-align: center;
width: 100%;
}
div.contenu{
    background-color: white;
    margin: 0px 10px 80px 10px;
    padding: 30px;
    margin: 0px;
    /*min-width: 350px;*/
    box-shadow: 0px 0px 8px rgba(0, 0 , 0 , 0.1);
}
h1{
    text-align:center;
}
p.description{
    text-align: center  ;
    /*background-color: yellow;*/
    max-width: 400px;
    display:inline-block;
    font-size: 15px;
    
    
}
img.info{
    display: block;
    max-height: 400px;
    object-fit: cover;
    min-height: 200px;
    background-color: gray;
}
div.description{
    text-align: center;
}
div.separateur{
    width: 100px;
    height: 1px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}
div.colonne1{
display: inline-block;

}


div.colonne{
    width: 45%;
    margin-top: 20px;
}
div.colonne h2{
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 5px solid #6c829dc0; 
    padding-bottom: 5px;
}
div.ingredient p{
    text-align: center;
    font-size: 20px;
    border: 1px solid lightgray;
    margin-top: 4px;
    margin-bottom: 0px;
    padding: 8px 0px;
        }
div.preparation p{
    text-align: center;
    font-size: 20px;
    border: 1px solid lightgray;
    margin-top: 1px;
    margin-bottom: 0px;
    margin-top: 1px;
}
table.preparation p.numero{
    background-color:#6c829dc0 ;
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 50px;
    margin: 0;
} 
table.preparation td{
    vertical-align: top;
}
table.preparation td.preparationne{
font-size: 14px;
padding-left: 10px;
padding-bottom: 10px;
}

table.preparation tr
{
    height: 50px;
}

* {
    overflow: auto;
}
/*style pour ordinateur*/

@media only screen and (min-width: 768px){
    div.contenu{
                min-width: 350px;
}
    table.info{
        
        height: 80px;
       
    }

    table.info td{
       
        font-size: 16px;
       
    }

    table.info th{
        font-size: 16px;
        
    }
    div.colonne1{
        margin-right: 10px;
       
        
        }
        
        div.colonne2{
            float: right;
            }
        
        div.colonne{
            width: 45%;
        }
       
    
}